*,
*:before,
*:after {
  box-sizing: border-box;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1 {
  color: #9DB0D1;
  font-size: 60px;
  font-family: Arapey;
  text-align: center;
  top: 100px;
  padding-top: 5%;
}

h2 {
  text-align: center;
  padding-top: 2%;
  font-size: 20px;
  line-height: 24px;
}

.button {
  display: flex;
  align-items: flex-start;
  position: center;
  margin: 2% 40%;
  color: #fff;
  font-family: Arapey;
  font-size: 30px;
  font-weight: regular;
  text-transform: uppercase;
  background: #EBAC87;
  border-radius: 10px;
  border: 3px solid #fff;
  padding: 24px 50px;
}

/*.checkbox{
  display: flex;
  align-items: center;
  position: center;
  margin: 2% 20%;
  font-size: 15px;
  font-family: Verdana;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  padding: 5px 50px;*/

  /*.block {
    height: 60px;
    width: 240px;
    display: inline-block;
    

  }

  .container {
    display: flex;
    margin: 40px 350px;
  }

  .block1 {
    background-image: #87C6EB;
    box-sizing: 500px 1980px;
  }*/

  .clouds{
    height: 400px;
    width: 100%px;
    background: linear-gradient(180deg, rgba(135, 198, 235, 0) 8.33%, #87C6EB 93.06%);

    
  }

  .cbcontainer{
  width: auto;
  height: 60px;
  display: flex;
  margin: 130px;
  margin-bottom: 1px;

}

.checkbox{
  height: 60px;
  width: 60px;
  border-radius: 100px;
  background:#9DB0D1;
  margin-left: 50px;
}

.check{
  padding-left: 15px;
  padding-top: 17px;
}

.checktext
{
  font-family: Verdana;
  font-size: 20px;
  padding-left: 15px;
  padding-top: 17px;
}

.header2{
height: 44px;
width: 1200px;
margin-left: 120px;
margin-top:30px ;
text-align: center;

font-family: Arapey;
font-size: 40px;

}
/*Блок 2*/




  .container2  {
display: flex;
background: #87C6EB;
width: 100%;
height: auto;
padding: 50px 0px 50px 0px;

}

.box1 {
  width: 350px;
  height: 560px;
  background: #FFFFFF;
  border-radius: 10px;
  margin-left: 120px;
  margin-top: 120px;
   
  
}

.box2 {
  width: 350px;
  height: 560px;
  background: #FFFFFF;
  border-radius: 10px;
  margin-left: 120px;
  margin-top: 120px
   
}
.box3 {
  width: 350px;
  height: 560px;
  background: #FFFFFF;
  border-radius: 10px;
  margin-left: 120px;
  margin-top: 120px;
  margin-right: 120px;
   
}

.circle{
  width: 60px;
  height: 60px;
  border-radius: 100px;
  margin: 20px;
  background:#EBAC87;
  opacity: 40%;  
}
.circle2{
  width: 60px;
  height: 60px;
  border-radius: 100px;
  margin: 20px;
  background:#EBAC87;
  opacity: 60%;  
}
.circle3{
  width: 60px;
  height: 60px;
  border-radius: 100px;
  margin: 20px;
  background:#EBAC87;
  opacity: 100%;  
}

.num 
{
  font-family: Verdana;
  font-size: 30px;
  color: white;
  line-height: 36px;
  
  padding-left: 20px;
  padding-top: 12px;
  position: center;
}


.img {
  
  width: 310px;
  height: 310px;
  background:#EBAC87;
  background-image:url('../img/block 1.png');
  background-size: cover;

  
  margin-top: 10px;
  margin-left: 20px;
}
.img2 {
  
  width: 310px;
  height: 310px;
  background:#EBAC87;
  background-image:url('../img/block 2.png');
  background-size: cover;

  
  margin-top: 10px;
  margin-left: 20px;
}
.img3 {
  
  width: 310px;
  height: 310px;
  background:#EBAC87;
  background-image:url('../img/block 3.png');
  background-size: cover;

  
  margin-top: 10px;
  margin-left: 20px;
}
.card{
  width: 310px;
  height: 96px;
  padding-top: 20px;
  padding-left: 20px;
  
  font-family: Verdana;
  font-size: 20px;
  line-height: 24px;
  }


/*  конец блок 2*/

/*3 блок*/

.left  {
width: 50%;
height: auto;
}

.conv {
  margin-top: 50px;
  height: 132px;
  width: 950px;
  font-family: Arapey;
  font-size: 40px;
  color: #ffffff;
  padding: 20px 120px;
 
}

.comp{
  width: 950px;
  height: 73px;
  font-family: Verdana;
  line-height: 24px;
  font-size: 20px;
  padding: 20px 120px;
  margin: 50px 0px 50px 0px;
}
.line{
  text-decoration-line: underline;
}

.buttonwhite
{
  width: 280px;
  height: 80px;
  font-family: Arapey;
  font-size: 30px;
  color: #EBAC87;
  border-radius: 10px;
  border: 0px;
  margin: 20px 120px;
  margin-right: 0px;
  padding: 24px 50px;
  font-style: normal;
  
}

.container3  {
display: flex;
background: #87C6EB;
background-image:url(https://i.ibb.co/VggH4fR/goverla.png);
background-position: bottom right 120px;
background-size: 600px 475px;
background-repeat: no-repeat;
width: 100%;
height: auto;
padding: 50px 0px 50px 0px;
}

.faq{
border-radius: 100px;
height: 80px;
width: 80px;
border: 0px;
background: #EBAC87;
margin-left: 920px;
margin-top: 20px;

font-size: 60px;
font-family: Verdana;
color: #FFFFFF;

  
  
}

.f {
  display: flex;
  width: 100%;
  
}
/*конец блока 3*/

/*footer*/



.buttonf {
  display: flex;
  color: #fff;
  font-family: Arapey;
  font-size: 30px;
  font-weight: regular;
  text-transform: uppercase;
  background: #EBAC87;
  border-radius: 10px;
  border: 3px solid #fff;
  padding: 24px 50px;
  margin-right: 0px;
  width: 280px;
  height: 80px;

}

.footer {

  margin: 50px 120px;
  display:  flex;
}

.socialmedia{
  display: flex;
  margin-left: 900px;
  margin-top: 30px;

}

.insta {

  margin-left: 20px;
  margin-right: 20px;
}
